* {
    margin: 0;
}
body {
    overflow-x: hidden;
}
@font-face {
    font-family: "ABCGintoNord-Bold";
    src: url("../fonts/ABCGintoNord-Bold.woff2") format("woff2"),
        url("../fonts/ABCGintoNord-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ggsans-Bold";
    src: url("../fonts/ggsans-Bold.woff2") format("woff2"),
        url("../fonts/ggsans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ggsans-Medium";
    src: url("../fonts/ggsans-Medium.woff2") format("woff2"),
        url("../fonts/ggsans-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ggsans-Normal";
    src: url("../fonts/ggsans-Normal.woff2") format("woff2"),
        url("../fonts/ggsans-Normal.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ggsans-Semibold";
    src: url("../fonts/ggsans-Semibold.woff2") format("woff2"),
        url("../fonts/ggsans-Semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

header.primary-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: rgb(58, 58, 255);
}
header.primary-header div.left {
    width: 12%;
}
header.primary-header div.left a {
}
header.primary-header div.left a img.logo-image {
    width: 130px;
}
header.primary-header button.mobile-nav-toggle {
    display: none;

}
header.primary-header nav.middle {
    width: 62%;
}
header.primary-header nav.middle ul.primary-navigation {
    display: flex;
}
header.primary-header nav.middle ul.primary-navigation li {
    list-style: none;
    margin-right: 35px;
}
header.primary-header nav.middle ul.primary-navigation li:last-child {
    margin-right: 0;
}
header.primary-header nav.middle ul.primary-navigation li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: "ggsans-Semibold";
    font-size: 17px;
}
header.primary-header nav.middle ul.primary-navigation li a:hover {
    text-decoration: underline;
}
header.primary-header div.right {
}
header.primary-header div.right button.login-button {
    background-color: white;
    color: black;
    padding: 10px 16px;
    font-size: 14px;
    font-weight: 700;
    border: none;
    font-family: "ggsans-Semibold";
    border-radius: 20px;
    cursor: pointer;
}
header.primary-header div.right button.login-button:hover {
    color: rgb(88, 101, 242);
}
#spotlight {
    background-color: rgb(58, 58, 255);
    height: 555px;
    background-image: url(../images/spotlight-image2.svg),url(../images/spotlight-image1.svg),url(../images/spotlight-image3.svg);
    background-repeat: no-repeat,no-repeat,no-repeat;
    background-size: 52%,45%,auto;
    background-position: -52% 100%,130% 100%,50% 100%;
    text-align: center;
}
#spotlight section.wrapper {
    padding: 108px 280px 0px 280px; 
}
#spotlight section.wrapper div.spotlight-top-container {
}
#spotlight section.wrapper div.spotlight-top-container h3.spotlight-title {
    font-size: 58px;
    color: white;
    font-family: "ABCGintoNord-Bold";
    margin-bottom: 28px;
}
#spotlight section.wrapper div.spotlight-top-container p.spotlight-description {
    font-size: 20px;
    color: white;
    font-family: "ggsans-Normal";
    line-height: 34px;
    margin-bottom: 20px;
}
#spotlight section.wrapper div.button-container {
    display: flex;
    justify-content: center;
}
#spotlight section.wrapper div.button-container button.download-button {
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    font-family: "ggsans-Semibold";
    background-color: white;
    color: black;
    cursor: pointer;
}
#spotlight section.wrapper div.button-container button.download-button span.image-container {
    width: 28px;
    margin-right: 8px;
}
#spotlight section.wrapper div.button-container button.download-button span.image-container img.download-icon {
    width: 100%;
    display: block;
}
#spotlight section.wrapper div.button-container button.explore-button {
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    font-family: "ggsans-Semibold";
    background-color: black;
    color: white;
    cursor: pointer;
}
#services {
}
#services section.container {
}
#services section.container section.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 115px 180px 130px 75px;
}
#services section.container section.wrapper div.image-container {
    width: 54%;
}
#services section.container section.wrapper div.image-container img {
    width: 100%;
    display: block;
}
#services section.container section.wrapper div.content {
    width: 36%;
}
#services section.container section.wrapper div.content h3.title {
    font-size: 48px;
    font-family: "ggsans-Bold";
    line-height: 48px;
    margin-top: 60px;
    margin-bottom: 28px;
}
#services section.container section.wrapper div.content p.description {
    font-size: 20px;
    font-family: "ggsans-Normal";
    color: rgb(35, 39, 42);
}
#services section.middle-container {
}
#services section.middle-container section.wrapper {
    display: flex;
    justify-content: space-between;
    background-color: rgb(246, 246, 246);
    padding: 115px 180px 130px 75px;
}
#services section.middle-container section.wrapper div.content {
    width: 36%;
}
#services section.middle-container section.wrapper div.content h3.title {
    font-size: 48px;
    font-family: "ggsans-Bold";
    line-height: 48px;
    margin-top: 78px;
    margin-bottom: 28px;
}
#services section.middle-container section.wrapper div.content p.description {
    font-size: 20px;
    font-family: "ggsans-Normal";
}
#services section.middle-container section.wrapper div.image-container {
    width: 54%;
}
#services section.middle-container section.wrapper div.image-container img {
    width: 100%;
    display: block;
}
footer {
    background-color: rgb(35, 39, 42);    
}
footer section.wrapper {
    padding: 80px 75px 60px 75px;
}
footer section.wrapper section.footer-top-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #5865f2;
    padding-bottom: 17px;
}
footer section.wrapper section.footer-top-container div.side-container {
    width: 30%;
}
footer section.wrapper section.footer-top-container div.side-container form.language-field {
    margin-top: 20px;
    margin-bottom: 35px;
}
footer section.wrapper section.footer-top-container div.side-container form.language-field select.select-language {
    background-color: rgb(35, 39, 42);
    border: none;
    color: white;
    appearance: none;
    padding: 10px 30px;
    background-image: url(../images/flag.svg),url(../images/down-arrow.svg);
    background-repeat: no-repeat no-repeat;
    background-size: 22px 19px;
    font-size: 14px;
    background-position: left,right;
    font-family: "ggsans-Normal";
}
footer section.wrapper section.footer-top-container div.side-container form.language-field select.select-language:focus {
    outline: none;
}
footer section.wrapper section.footer-top-container div.side-container form.language-field select.select-language option.select-option {
}
footer section.wrapper section.footer-top-container div.side-container div.social-icon {
}
footer section.wrapper section.footer-top-container div.side-container div.social-icon ul {
    display: flex;
    padding: 0;
}
footer section.wrapper section.footer-top-container div.side-container div.social-icon ul li {
    list-style: none;
    margin-right: 27px;
}
footer section.wrapper section.footer-top-container div.side-container div.social-icon ul li:last-child {
    margin-right: 0px;
}
footer section.wrapper section.footer-top-container div.side-container div.social-icon ul li a {
}
footer section.wrapper section.footer-top-container div.side-container div.social-icon ul li a img {
    width: 100%;
    display: block;
}
footer section.wrapper section.footer-top-container div.right-container {
    display: flex;
    width: 65%;
}
footer section.wrapper section.footer-top-container div.right-container div.list-item {
    width: 25%;
}
footer section.wrapper section.footer-top-container div.right-container div.list-item h4 {
    color: rgb(88, 101, 242);
    font-family: "ggsans-Normal";
    font-size: 16px;
    margin-bottom: 25px;
}
footer section.wrapper section.footer-top-container div.right-container div.list-item ul {
    padding: 0;
}
footer section.wrapper section.footer-top-container div.right-container div.list-item ul li {
    list-style: none;
    margin-bottom: 15px;
}
footer section.wrapper section.footer-top-container div.right-container div.list-item ul li a {
    font-style: 18px;
    text-decoration: none;
    font-family: "ggsans-Normal";
    color: white;
}
footer section.wrapper div.horizontal-line {
    border-bottom: 1px solid #5865f2;
}
footer section.wrapper div.footer-bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
footer section.wrapper div.footer-bottom-container div.left-bottom-container {
    width: 130px;
}
footer section.wrapper div.footer-bottom-container div.left-bottom-container img.logo-image {
    width: 100%;
    display: block;
}
footer section.wrapper div.footer-bottom-container div.right-bottom-container {
}
footer section.wrapper div.footer-bottom-container div.right-bottom-container button.signup-button{
    background-color: rgb(88, 101, 242);
    color: rgb(255, 255, 255);
    padding: 10px 17px;
    border: none;
    font-family: "ggsans-Bold";
    font-size: 14px;
    border-radius: 30px;
}
@media all and (max-width: 1280px) {
    header.primary-header {
        padding: 20px 48px;
    }
    header.primary-header div.left {
        width: 15%;
    }
    header.primary-header nav.middle {
        width: 72%;
    }
    #spotlight section.wrapper {
        padding: 108px 130px 0px 130px;
    }
    #services section.container section.wrapper {
        padding: 115px 100px 130px 58px;
    }
    #services section.container section.wrapper div.image-container {
        width: 57%;
    }
    #services section.container section.wrapper div.content {
        width: 35%;
    }
    #services section.container section.wrapper div.content h3.title {
        margin-top: 0px;
    }
    #services section.middle-container section.wrapper {
        padding: 115px 100px 130px 58px;
    }
    #services section.middle-container section.wrapper div.content {
        width: 35%;
    }
    #services section.middle-container section.wrapper div.image-container {
        width: 57%;
    }
    #services section.middle-container section.wrapper div.content h3.title {
        margin-top: 0px;
    }
    footer section.wrapper {
        padding: 80px 58px 60px 58px;
    }
}
@media all and (max-width: 1080px) {
    header.primary-header {
        padding: 30px 48px 20px 48px;
    }
    header.primary-header nav.middle {
        width: 75%;
    }
    #spotlight section.wrapper {
        padding: 108px 100px 0px 100px;
    }
    #services section.container section.wrapper {
        padding: 115px 43px 130px 35px;
    }
    #services section.container section.wrapper div.image-container {
        width: 55%;
    }
    #services section.container section.wrapper div.content {
        width: 40%;
    }
    #services section.middle-container section.wrapper {
        padding: 115px 43px 130px 35px;
    }
    #services section.middle-container section.wrapper div.content {
        width: 40%;
    }
    #services section.middle-container section.wrapper div.image-container {
        width: 55%;
    }
    footer section.wrapper {
        padding: 80px 43px 60px 35px;
    }
    footer section.wrapper section.footer-top-container div.right-container {
        display: flex;
        width: 58%;
        flex-wrap: wrap;
    }
    footer section.wrapper section.footer-top-container div.right-container div.list-item {
        width: 50%;
    }
    footer section.wrapper section.footer-top-container div.right-container div.list-item:first-child {
        margin-bottom: 30px;
    }
}
@media all and (max-width: 980px) {
    header.primary-header {
        padding: 30px 90px 20px 38px;
    }
    header.primary-header button.mobile-nav-toggle {
        display: block;
        position: absolute;
        background-image: url(../images/hamburgermenu.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: transparent;
        width: 32px;
        height: 32px;
        border: 0;
        z-index: 3;
        top: 30px;
        right: 30px;
    
    }
    header.primary-header button.mobile-nav-toggle[aria-expanded=true] {
        background-image: url(../images/close-icon.svg);
        position: fixed;

    }
    header.primary-header nav.middle ul.primary-navigation {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 48%;
        background: white;
        flex-direction: column;
        padding: 100px 50px 0px 50px;
        z-index: 1;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }
    header.primary-header nav.middle ul.primary-navigation[data-visible="true"]{
        transform: translateX(0%);

    }
    header.primary-header nav.middle ul.primary-navigation li {
        margin-bottom: 30px;
    }
    header.primary-header nav.middle ul.primary-navigation li a {
        color: black;
    }
    #spotlight {
        height: 757px;
        background-image: url(../images/spotlight-image2.svg);
        background-repeat: no-repeat;
        background-size: 82%;
        background-position: 11% 100%;
    }
    #spotlight section.wrapper {
        padding: 60px 40px 0px 40px;
        text-align: left;
    }
    #spotlight section.wrapper div.button-container {
        display: block;
    }
    #spotlight section.wrapper div.button-container button.download-button {
        margin-bottom: 20px;
    }
    #services section.container section.wrapper {
        padding: 115px 40px 130px 40px;
        display: flex;
        flex-wrap: wrap;
    }
    #services section.container section.wrapper div.image-container {
        width: 100%;
    }
    #services section.container section.wrapper div.content {
        width: 100%;
    }
    #services section.container section.wrapper div.content h3.title {
        font-size: 32px;
        margin-top: 20px;
    }
    #services section.middle-container section.wrapper {
        padding: 115px 40px 130px 40px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    #services section.middle-container section.wrapper div.content {
        width: 100%;
    }
    #services section.middle-container section.wrapper div.content h3.title {
        font-size: 32px;
        margin-top: 20px;
    }
    #services section.middle-container section.wrapper div.image-container {
        width: 100%;
    }
}
@media all and (max-width: 768px) {
    #spotlight section.wrapper div.spotlight-top-container h3.spotlight-title {
        font-size: 47px;
    }
    #spotlight section.wrapper div.spotlight-top-container p.spotlight-description {
        font-size: 18px;
    }
    #spotlight section.wrapper div.button-container button.download-button {
        font-size: 19px;
    }
    #spotlight section.wrapper div.button-container button.explore-button {
        font-size: 19px;
    }
    #services section.container section.wrapper div.content h3.title {
        font-size: 28px;
    }
    #services section.container section.wrapper div.content p.description {
        font-size: 19px;
    }
    #services section.middle-container section.wrapper div.content h3.title {
        font-size: 28px;
    }
    #services section.middle-container section.wrapper div.content p.description {
        font-size: 19px;
    }
    footer section.wrapper {
        padding: 80px 40px 40px 40px;
    }
    footer section.wrapper section.footer-top-container {
        display: block;
    }
    footer section.wrapper section.footer-top-container div.side-container {
        width: 100%;
        margin-bottom: 54px;
    }
    footer section.wrapper section.footer-top-container div.right-container {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
}